@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

/* 배경화면 -----------------------------------------------------*/
/* 비디오 컨테이너 스타일 */
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

/* 비디오 스타일 */
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*-------------------------------------------------------------*/


/* 메뉴바 ------------------------------------------------------*/
nav {
  display: flex;
  background-color: #333;
  justify-content: space-between;
  padding: 0.8rem 0;
}

nav ul {
  list-style: none;
  display: flex;
}

/* 기본 메뉴 */
nav ul li {
  position: relative;
  margin: 0 3rem;
  font-family:'Ubuntu';
  display: block;
  width: 5.56rem;
  text-align: center;
}

/* 기본메뉴의 글씨 */
nav ul li a {
  display: block; 
  padding: 0.55rem 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #00aaff;
}

/* 홈 버튼 */
.gotoMain {
	justify-content: flex-start; /* 메뉴바 제일 앞으로 가도록 */
}

/* 쇼핑 관련 메뉴들 */
.shoppingMenu {
	justify-content: center; /* 메뉴바 중간에 오도록 */
	margin-left: 2rem;
}

/* 나의정보 및 로그아웃 ul */
.myInfoMenu {
	justify-content: flex-end; /* 메뉴바 제일 뒤로 보내기 */	
}

.myInfoMenu li{
	width: 5.45rem; /* 다른 메뉴들 보다 크기를 작게 */
	margin: 0 0.55rem;
}

li.wish {
    width: 2rem;
}

.wish img {
  	vertical-align: middle;
  	width: 1.2rem;
}


/* '***님 환영합니다' 부분 */
/*
.welcome {
	font-family: 'GowunDodum';
    color: white;
    font-weight: bold;
    max-height: 4rem;
    text-align: center;
    max-width: 5.5rem;
    font-size: 0.75rem;
}
*/



/* Dropdown Menu Styles -------------------------------------------------*/
nav ul ul {
  display: none;
  position: absolute;
  background-color: #333;
  border-top: 2px solid #00aaff;
  z-index: 1; 
  transform: translateX(-7%);
  width: 6.56rem;/* 드롭다운 메뉴의 폭 조절 자동 */
}

nav ul li:hover > ul {
  display: block;
}

/* 드롭다운 메뉴 기본설정 */
nav ul ul li {
  width: 100%;
  text-align: center;
  margin: 0;
  position: relative;
  font-family:'GowunDodum';
}

nav ul ul li a {
  padding: 0.75rem 1rem; /* 조정된 패딩 */ 
  display: block; /* 너비를 채우기 위해 블록으로 표시 */
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  border-bottom: 1px solid #444; /* 각 항목 하단에 테두리 추가 */
}

/* 드롭메뉴 중 이름의 길이가 긴 글자설정 */
#inside_menu2 li a{
	 padding: 0.75rem 0.2rem; 
	 font-size: 0.9rem;
}

nav ul ul li a:hover {
  background-color: #00aaff;
  color: #fff;
}

/* 더 큰 화면에 대한 조정 */
/* @media screen and (min-width: 48rem) {
  nav ul li {
    margin: 0 1.5rem; 더 큰 화면을 위한 마진 증가
  }
}   */

@media screen and (max-width: 768px) {
  /* 화면 너비가 768px 이하일 때 적용될 스타일 */
  nav ul {
    margin-left: 1rem;
  }

  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul ul {
  top: auto; /* 더 큰 화면에 대한 위치 재설정 */
  left: 0;
}
}

@media screen and (min-width: 992px) {
  /* 화면 너비가 992px 이상일 때 적용될 스타일 */
  nav ul {
    margin-left: 3rem;
  }

  nav ul li {
    margin: 0 2rem;
  }
}



/*----------------------------------------------------------------------*/

/* Contents ------------------------------------------------------------*/
/* Styles */
main {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
  padding-bottom: 110px;
}

.bg {
  position: fixed;
  top: -4rem;
  left: -12rem;
  z-index: -1;
  opacity: 0;
}

.bg2 {
  position: fixed;
  bottom: -2rem;
  right: -3rem;
  z-index: -1;
  width: 9.375rem;
  opacity: 0;
}

main > div span {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  color: #717171;
  font-family:'GowunDodum';
}

main > div h1 {
  text-transform: capitalize;
  letter-spacing: 0.8px;
  font-family: 'Black Ops One', cursive;
  font-weight: 900;
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  background-color: #E0ECF8;
  background-image: linear-gradient(45deg, #E0ECF8, #070719);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

main > div hr {
  display: block;
  background: #005baa;
  height: 0.25rem;
  width: 6.25rem;
  border: none;
  margin: 1.125rem 0 1.875rem 0;
}

main > div p {
  line-height: 1.6;
  color: #FFFFFF;
  font-family:'GowunDodum';
}

main a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 3.125rem;
  transition: 0.3s ease-in-out;
}

main > div > a {
  border: 2px solid #c2c2c2;
  margin-top: 2.188rem;
  padding: 0.625rem 1.875rem;
  font-family:'GowunDodum';
}

main > div > a:hover {
  border: 0.125rem solid #005baa;
  color: #005baa;
}

.swiper {
  width: 100%;
  padding-top: 3.125rem;
}

.swiper div div a, .swiper div div p {
	font-family:'GowunDodum';
}

.swiper div div h2 {
	font-family: 'Ubuntu Italic', sans-serif;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  bottom: 1.25rem !important;
}

.swiper-slide {
  width: 18.75rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
}

.swiper-slide p {
  color: #dadada;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 0.75rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-slide a {
  margin: 1.25rem 1.563rem 3.438rem 1.563rem;
  padding: 0.438em 1.875rem;
  font-size: 0.9rem;
}

.swiper-slide a:hover {
  color: #005baa;
}

.swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}

.swiper-slide-active div {
  display: block;
  opacity: 1;
}

.swiper-slide--one {
  background: 
  linear-gradient(to top, #0f2027, #203a4300, #2c536400), 
  url("../image/index/car1.jpg") 
  no-repeat 50% 50%/cover;
  
  border: 2px solid #ccc; /* 테두리 스타일과 색상을 조절합니다 */
  border-radius: 0.625rem; /* 테두리의 모서리를 둥글게 만듭니다 */
  overflow: hidden; /* 내용이 테두리를 넘어가지 않도록 설정합니다 */
}

.swiper-slide--two {
  background: 
  linear-gradient(to top, #0f2027, #203a4300, #2c536400), 
  url("../image/index/car2.jpg") 
  no-repeat 50% 50%/cover;
  
  border: 2px solid #ccc; /* 테두리 스타일과 색상을 조절합니다 */
  border-radius: 0.625rem; /* 테두리의 모서리를 둥글게 만듭니다 */
  overflow: hidden; /* 내용이 테두리를 넘어가지 않도록 설정합니다 */
}

.swiper-slide--three {
  background: 
  linear-gradient(to top, #0f2027, #203a4300, #2c536400), 
  url("../image/index/car3.jpg") 
  no-repeat 50% 50%/cover;
  
  border: 2px solid #ccc; /* 테두리 스타일과 색상을 조절합니다 */
  border-radius: 0.625rem; /* 테두리의 모서리를 둥글게 만듭니다 */
  overflow: hidden; /* 내용이 테두리를 넘어가지 않도록 설정합니다 */
}

.swiper-slide--four {
  background: 
  linear-gradient(to top, #0f2027, #203a4300, #2c536400), 
  url("../image/index/car4.jpg") 
  no-repeat 50% 50%/cover;
  
  border: 2px solid #ccc; /* 테두리 스타일과 색상을 조절합니다 */
  border-radius: 0.625rem; /* 테두리의 모서리를 둥글게 만듭니다 */
  overflow: hidden; /* 내용이 테두리를 넘어가지 않도록 설정합니다 */
}

.swiper-slide--five {
  background: 
  linear-gradient(to top, #0f2027, #203a4300, #2c536400), 
  url("../image/index/car5.jpg") 
  no-repeat 50% 50%/cover;
  
  border: 2px solid #ccc; /* 테두리 스타일과 색상을 조절합니다 */
  border-radius: 0.625rem; /* 테두리의 모서리를 둥글게 만듭니다 */
  overflow: hidden; /* 내용이 테두리를 넘어가지 않도록 설정합니다 */
}

.swiper-slide--Six {
  background: 
  linear-gradient(to top, #0f2027, #203a4300, #2c536400), 
  url("../image/index/car6.jpg") 
  no-repeat 50% 50%/cover;
  
  border: 2px solid #ccc; /* 테두리 스타일과 색상을 조절합니다 */
  border-radius: 0.625rem; /* 테두리의 모서리를 둥글게 만듭니다 */
  overflow: hidden; /* 내용이 테두리를 넘어가지 않도록 설정합니다 */
}

.swiper-slide--Seven {
  background: 
  linear-gradient(to top, #0f2027, #203a4300, #2c536400), 
  url("../image/index/car7.jpg") 
  no-repeat 50% 50%/cover;
	
  border: 2px solid #ccc; /* 테두리 스타일과 색상을 조절합니다 */
  border-radius: 0.625rem; /* 테두리의 모서리를 둥글게 만듭니다 */
  overflow: hidden; /* 내용이 테두리를 넘어가지 않도록 설정합니다 */
}

.swiper-slide--Eight {
  background: 
  linear-gradient(to top, #0f2027, #203a4300, #2c536400), 
  url("../image/index/car8.jpg") 
  no-repeat 50% 50%/cover;
	
  border: 2px solid #ccc; /* 테두리 스타일과 색상을 조절합니다 */
  border-radius: 0.625rem; /* 테두리의 모서리를 둥글게 만듭니다 */
  overflow: hidden; /* 내용이 테두리를 넘어가지 않도록 설정합니다 */	
}
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

@media screen and (min-width: 48rem) {
  main {
    display: flex;
    align-items: center;
  }

  .bg,
.bg2 {
    opacity: 0.1;
  }
}
@media screen and (min-width: 93.75rem) {
  .swiper {
    width: 85%;
  }
}
/*----------------------------------------------------------------------*/

/* footer --------------------------------------------------------------*/
footer {
  background-color: #333;
  color: #fff;
  padding: 0.4rem 0;
  text-align: center;
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
}

footer p {
  margin-bottom: 0.5rem;
  font-family:'Ubuntu';
}

footer ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  font-family:'GowunDodum';
}

footer ul li a:hover {
  color: #00aaff;
}

/*-------------------------------------------------------------*/
