@charset "UTF-8";

main {
  position: relative;
  width: calc(min(90rem, 90%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
  padding-bottom: 110px;
}

/* main div {
	margin: 0 auto;
}
 */
/* @media screen and (min-width: 48rem) {
  main {
    display: flex;
    align-items: center;
  }
}
 */
 
 @media screen and (max-width: 48rem) {
  main {
    max-width: 100%; /* 화면 크기에 따라 최대 너비를 조절 */
    width: auto; /* 필요할 때에만 너비를 조절 */
  }
}