@charset "UTF-8";
@import url('https://webfontworld.github.io/yangheeryu/GowunDodum.css');


body{
    font-family: 'GowunDodum';
    background-color: #f5f6f7;
    line-height: 1.5em;
    color : #222;
    margin: 0;
    width:100%;
}

h2 {
	text-align: center;
	padding-bottom: 1rem;
}

.wrap_allCarList {
	display: flex;
	width: 100%;
	flex-direction: column;
	max-width: 1200px;
	margin: 1rem auto;
}

/* 이미지 슬라이드 ----------------------------------------------------*/
/* slider__wrap */
.slider__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}
.slider__img { /* 이미지가 보이는 영역 */
    position: relative;
    width: 800px;
    height: 450px;
    overflow: hidden;
}
.slider__inner { /* 이미지 움직이는 영역 */
    display: flex;
    flex-wrap: wrap;
    width: 4800px;  /*총이미지4800복사까지*/
    height: 450px;
}
.slider { /* 개별적인 이미지 */
    position: relative;
    width: 800px;
    height: 450px;
}
.slider__inner img { /* 개별적인 이미지 */
	width: 100%;
}
.slider__btn a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 35px;
    line-height: 50px;
    background-color: #848484;
    border-radius: 5px;
    transition: all 0.6s;
}

.slider__btn img {
	width: 30px; 
	height: 30px;
	opacity: 0.5;
}

.slider__btn img:hover {
	opacity: 0.7;
}

.slider__btn a:hover {
    background-color: #A4A4A4;
}
.slider__btn a.prev{
    left: 0;
}
.slider__btn a.next{
    right: 0;
}
.slider__dot {
    position: absolute;
    left: 50%;
    top: 400px;
    transform: translateX(-50%);
}
.slider__dot .dot{
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255,0.3);
    display: inline-block;
    text-indent: -9999px;
    transition: all 0.3s;
    margin: 2px;
    border-radius: 50px;
}
.slider__dot .dot.active {
    background-color: rgba(255, 255, 255, 1)
}

@media screen and (min-width: 1024px){
    .slider__img { /* 이미지가 보이는 영역 */
	    position: relative;
	    width: 800px;
	    height: 450px;
	    overflow: hidden;
	}
	.slider { /* 개별적인 이미지 */
	    position: relative;
	    width: 800px;
	    height: 450px;
	}
}

@media screen and (max-width: 767px){
    .slider__img{ 
		display: flex;
		flex-direction: row;
		width: 540px;
		height: 300px;
    	margin: auto;
	}
	.slider { /* 개별적인 이미지 */
	    position: relative;
	    width: 540px;
	    height: 300px;
	}
	.slider__dot {
	    position: absolute;
	    left: 50%;
	    top: 250px;
	    transform: translateX(-50%);
	}
}

@media screen and (max-width: 559px){
    .slider__img{ 
		display: flex;
		flex-direction: row;
		width: 360px;
		height: 200px;
    	margin: auto;
	}
	.slider { /* 개별적인 이미지 */
	    position: relative;
	    width: 360px;
		height: 200px;
	}
	.slider__dot {
	    position: absolute;
	    left: 50%;
	    top: 250px;
	    transform: translateX(-50%);
	}
}



/**버튼디자인**/
/*
.button_img button{
	width: 30px; height: 30px;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
 	background-color: transparent;
 	border: 0; 	
}

.next{
  right: 0;
}


#back_img, #next_img {
	opacity: 0.5;
}

#back_img:hover, #next_img:hover {
	opacity: 0.9;
}
*/
/* 반응형 만들 때 864px 기준으로~~~ */

.wrap_secLine {
	display: flex;
	flex-direction: row;
}

@media screen and (min-width: 1023px){
    .wrap_secLine{ 
		display: flex;
		flex-direction: row;
		width: 80%;
    	margin: auto;
	}
}

@media screen and (max-width: 1023px){
    .wrap_secLine{ 
		display: flex;
		flex-direction: column;
	}
}


/* 차량기본정보(id,제조사,차량명,금액) ----------------------------------------------------*/
.part.explain {
	width: 50%; 
	height:250px;
	position: relative;
	margin-top:2rem;
}

@media screen and (min-width: 1023px){
    .part.explain{ 
		width: 55%; 
		height:250px;
		margin-top:2rem;	
	}
}

@media screen and (max-width: 1023px){
    .part.explain{ 
		width: 100%; 
		height:250px;
		margin-top:2rem;	
	}
	.basic_info {
		display: flex;
		flex-direction: column;
		margin-left: 1rem;
	}
}

.basic_info {
	display: flex;
	flex-direction: column;
}

.basic_info div {
	margin-bottom: 0.5rem;
}



/* 자동차 금액 */
.basic_info.price{
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
}

#car_price {
	display: inline-block;
	width: 40%;
	color: #486AAE;
	font-size: 2rem;
	font-weight: 600;
	text-align: left;
}

#sale {
  display: inline-block;
  width: 60%;
  font-size: 1.3rem;
  text-align: left;
  padding-left: 1rem;
  
}

/* 시승예약, 주문하기, 관심상품 버튼 */
.basic_info.button {
	display: flex;
	width: 100%;
	flex-direction: row;
	margin-top: 1rem;
	position: absolute;
    bottom: 0;
}

#resv_order {
	width: 80%;
	margin-bottom: 0;
    text-align: center;
}

#resv_order button {
	width: 7rem;
	padding: 0.5rem;
	margin-right: 0.5rem;
	font-family: 'GowunDodum';
	color:#fff;
	background-color: #486AAE;
	border: 1px solid #dadada;
	cursor: pointer;
}

#resv_order button:hover {
	background-color: #36589C;
	color:#fff;
}

.basic_info.likeQty img {
	width: 1.5rem;
	display: inline;
    vertical-align: middle;
	margin-right: 0.5rem;
	cursor: pointer;
}

.basic_info.likeQty {
	display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    text-align: right;
}

/* 차량기본정보(색상, 차종, 배기량,주행거리 등) ----------------------------------------------------*/


.basic_info.detail {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}

.basic_info.detail table {
	display: block;
	width: 100%;
}

#subject1,#subject2,#subject3,
#subject4,#subject5,#subject6{
	color: #A4A4A4; 
	width: 20%;
}

#subject2,#subject3,
#subject5,#subject6{
	margin-left: 1.2rem;
}

#contents {
	width: 13%;
}

/* 판매딜러정보 ----------------------------------------------------*/
.part.dealer {
	width: 45%; 
	height:250px;
	margin-top:2rem;
}

@media screen and (min-width: 1023px){
    .part.dealer{ 
		width: 50%; 
		height:250px;
		margin-top:2rem;	
	}
}

@media screen and (max-width: 1023px){
    .part.dealer{ 
		width: 100%; 
		height:250px;
		margin-top:2rem;	
	}
	.part.dealer table {
		margin: 0 auto;
	}
}

.part.dealer img {
	height: 240px;
	padding-right: 1rem;
}

.part.dealer table {
	margin-left: auto;
}

.part.dealer table tr {
	height: 40px;
}


.part.dealer button {
	width: 90%;
	padding: 0.5rem;
	margin-right: 0.5rem;
	font-family: 'GowunDodum';
	color:#fff;
	background-color: #486AAE;
	border: 1px solid #dadada;
	cursor: pointer;
}

.part.dealer button:hover {
	background-color: #36589C;
	color:#fff;
}

#bigFont {
	font-size: 1.3rem;
}

.part.dealer a {
	text-decoration: none;
	color: black;
}

.part.dealer a:hover {
	text-decoration: underline;
	color: blue;
}